{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div id="image_upload">
    <button id="nappi" type="button">clikedi clicks</button>
    <form class="form-horizonal" id="form-image" name="uploadform" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="col-md-6">
            {{ form.as_p }}
        
            <div class="controls">
                <button type="submit" id="submit-image" class="btn btn-default">Lisää kuva</button>
            </div>
        </div>
    </form>
</div>

{% endif %}
{% endblock %}

