{% extends 'base.html' %}
{% block content %}

<div id="index">
    <div class="col-md-12">

    <ul class="album-listing"> 
        {% for album in items %}
            <div class="col-md-6" style="border: 2px solid black;">

                <a href="/album/{{ album.0.id }}"><img class="img-responsive img-small col-md-1 pull-left" style="padding-bottom: 20px;" src="{{album.1}}" ></a>

                <div class="col-md-5">
                    <li><h2><a href="/album/{{album.0.pk}}">{{album.0.name}}</a></h2></li>
                    <li><h4>{{ album.0.description }}</h4></li>
                    <li>Kuvia: {{ album.0.images.count }} kpl</li>
                    <li>Luotu: {{ album.0.created }}</li>
                    <br>
                    {% if user.is_authenticated %}
                        <li><a href="/album/edit/{{ album.0.pk }}">Muokkaa</a></li>
                    {% endif %}
                </div>


            </div>
        {% endfor %} 
    
    </ul>
    </div>
</div>

{% include 'paginator.html' %}

{% endblock %}

