{% extends 'base.html' %}
{% block content %}

<div id="album col-md-12">
    <div class="col-md-10 images">
        {% for image in items %}
            <div class="col-md-3 img-wrap"> 
                <img class="image-icon" src={{image.0.pic.url}}>
                <!--
                <div class="img-description-layer">
                    <p class="img-description">{{image.0.name}}</p>
                </div>-->
                <p class="hidden image-id">{{image.1}}</p>
                
            </div>
        {% endfor %}
    </div>

    <div class="col-md-2 album-info">
        <h1>{{album.name}}</h1>
        <p>{{amount}} image(s)</p>
        <p>Created {{album.created}}</p>
        <p>{{album.description}}</p>
        <p class="hidden" id="album-id">{{album.pk}}</p>
    </div>
    
    <div class="col-md-10">
        {% include 'photoswipe.html' %}
    </div>    
    
    <div class="col-md-10">
        {% include 'paginator.html' %}
    </div>
</div>


{% endblock %}

