{% extends 'base.html' %}
{% block content %}

<div id="col-md-12">
    
    <div class="jumbotron">
        <h1 class="col-sm-9">{{image.name}}</h1>
        <h4>Omistaja: {{uploader}}</h4>
        <h4>Julkaistu {{image.uploaded}}</h4>
        <h5>{{image.description}}</h5>
    </div>
    <div class="col-md-6">
        <img src={{image.pic.url}} class="pic">
    </div>
    <div>
        <button><a href="/image/edit/{{ image.id }}">Muokkaa</a></button>
        <button><a href="/image/remove/{{ image.id }}">Poista</a></button>
    </div>
</div>

{% endblock %}

