* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: #FEFEFE;
    color: #454545;
}
.pic {
    border: 1px solid black;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.navbar {
    border-radius:0 !important;
}
.search-container {
	padding-top: 5%;
}

.album-listing {
    display:block;
    list-style-type: none;
}

.album-info {
    float:right;
}

.image {
	align-items: center;
	padding-bottom: 2%;
	border-bottom: 5px;
	/*background-color: rgba(184, 213, 227, 0.17);*/
}
.images {
    display: inline;
}

.image-icon {
    max-width: 100%;
    max-height: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.image-icon:hover {
	-moz-transform: scale(1.1);
 	-webkit-transform: scale(1.1);
 	transform: scale(1.1);
}
.image-icon:hover .img-description-layer{
	-moz-transform: scale(1.1);
 	-webkit-transform: scale(1.1);
 	transform: scale(1.1);
}

.img-wrap {
	position: relative;
    width: 256px;
    height: 128px;    
    overflow: hidden; 
}

.img-description-layer {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(36, 36, 36, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
    
    max-width: 100%;
  max-height: 100%;  
  -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img-wrap:hover .img-description-layer {
  visibility: visible;
  opacity: 1;
}

.img-description {
  transition: .2s;
  transform: translateY(1em);
}

.img-wrap:hover .img-description {
  transform: translateY(0);
}
